.order {
  width: 1120px;
}

.order__title {
  margin: 0;
  margin-bottom: 48px;
}

.order__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: $white;
  list-style: none;
}

.order__item {
  width: 293px;
  padding: 30px 31px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $dark-blue;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: 32px;
    background-repeat: no-repeat;
  }

  &--ordering::before {
    width: 64px;
    height: 64px;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M63.4507 52.8442L52.6372 42.0307L57.9406 36.7275C58.4001 36.268 58.589 35.6033 58.4396 34.9708C58.2902 34.3383 57.8242 33.8283 57.2077 33.6228L25.388 23.0162C24.7144 22.7916 23.9714 22.967 23.4692 23.4692C22.967 23.9715 22.7916 24.7142 23.0162 25.388L33.6229 57.2078C33.8285 57.8243 34.3385 58.2905 34.9709 58.4397C35.6032 58.5893 36.268 58.4003 36.7275 57.9407L42.0309 52.6375L52.8444 63.4508C53.2105 63.817 53.6904 64.0001 54.1701 64.0001C54.6499 64.0001 55.1299 63.8171 55.4959 63.4508L63.4509 55.4958C64.1831 54.7636 64.1831 53.5765 63.4507 52.8442ZM54.17 59.4733L43.3565 48.66C42.6244 47.9277 41.437 47.9277 40.7049 48.66L36.221 53.1438L27.7596 27.7597L53.1437 36.2211L48.6599 40.705C47.9282 41.4365 47.9276 42.6245 48.6599 43.3566L59.4734 54.1701L54.17 59.4733Z' fill='white'/%3E%3Cpath d='M24.375 15C25.4105 15 26.25 14.1605 26.25 13.125V1.875C26.25 0.8395 25.4105 0 24.375 0C23.3395 0 22.5 0.8395 22.5 1.875V13.125C22.5 14.1605 23.3395 15 24.375 15Z' fill='white'/%3E%3Cpath d='M9.7909 7.13928C9.05878 6.40703 7.87153 6.40703 7.13928 7.13928C6.40703 7.87153 6.40703 9.05865 7.13928 9.7909L15.0943 17.7459C15.8264 18.4782 17.0138 18.4782 17.7459 17.7459C18.4782 17.0136 18.4782 15.8265 17.7459 15.0943L9.7909 7.13928Z' fill='white'/%3E%3Cpath d='M15.0943 31.004L7.13928 38.959C6.40703 39.6913 6.40703 40.8784 7.13928 41.6106C7.8714 42.3429 9.05878 42.3429 9.7909 41.6106L17.7459 33.6556C18.4782 32.9234 18.4782 31.7363 17.7459 31.004C17.0136 30.2718 15.8264 30.2718 15.0943 31.004Z' fill='white'/%3E%3Cpath d='M33.6557 17.7459L41.6107 9.7909C42.343 9.05865 42.343 7.87153 41.6107 7.13928C40.8786 6.40703 39.6914 6.40703 38.9591 7.13928L31.0041 15.0943C30.2719 15.8265 30.2719 17.0136 31.0041 17.7459C31.7362 18.4782 32.9236 18.4782 33.6557 17.7459Z' fill='white'/%3E%3Cpath d='M15 24.375C15 23.3395 14.1605 22.5 13.125 22.5H1.875C0.8395 22.5 0 23.3395 0 24.375C0 25.4105 0.8395 26.25 1.875 26.25H13.125C14.1605 26.25 15 25.4105 15 24.375Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &--call::before {
    width: 68px;
    height: 64px;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.5802 39.6457C49.2699 38.2815 47.6895 37.552 46.0146 37.552C44.3531 37.552 42.7592 38.2679 41.395 39.6322L37.1266 43.8871C36.7754 43.698 36.4242 43.5224 36.0865 43.3468C35.6002 43.1037 35.1409 42.8741 34.7492 42.6309C30.751 40.0915 27.1174 36.7821 23.6324 32.5002C21.944 30.366 20.8093 28.5695 19.9854 26.7459C21.093 25.7329 22.1196 24.6793 23.1191 23.6662C23.4974 23.288 23.8756 22.8963 24.2538 22.518C27.0904 19.6814 27.0904 16.0074 24.2538 13.1708L20.5662 9.48317C20.1475 9.06444 19.7152 8.63219 19.31 8.19995C18.4995 7.36247 17.6485 6.49799 16.7705 5.68753C15.4603 4.39079 13.8934 3.7019 12.2455 3.7019C10.5976 3.7019 9.00366 4.39079 7.65289 5.68753C7.63938 5.70103 7.63938 5.70103 7.62588 5.71454L3.03328 10.3477C1.3043 12.0766 0.318243 14.1838 0.102121 16.6287C-0.222062 20.5729 0.939595 24.247 1.8311 26.6514C4.01934 32.5542 7.28819 38.0248 12.1644 43.8871C18.0808 50.9516 25.1993 56.5303 33.3309 60.461C36.4377 61.9333 40.5845 63.6758 45.2176 63.973C45.5013 63.9865 45.7985 64 46.0686 64C49.1889 64 51.8094 62.8789 53.8625 60.6501C53.876 60.6231 53.903 60.6096 53.9166 60.5826C54.619 59.7316 55.4294 58.9616 56.2804 58.1377C56.8612 57.5839 57.4556 57.003 58.0364 56.3952C59.3736 55.0039 60.076 53.383 60.076 51.7216C60.076 50.0466 59.3601 48.4392 57.9959 47.0884L50.5802 39.6457ZM55.4159 53.8693C55.4024 53.8693 55.4024 53.8828 55.4159 53.8693C54.8891 54.4366 54.3488 54.9499 53.768 55.5172C52.89 56.3547 51.9985 57.2327 51.161 58.2187C49.7967 59.6776 48.1893 60.3664 46.0821 60.3664C45.8795 60.3664 45.6634 60.3664 45.4608 60.3529C41.449 60.0963 37.7209 58.5294 34.9248 57.1922C27.2795 53.4911 20.5662 48.2366 14.9875 41.5773C10.3814 36.0257 7.30169 30.8928 5.26204 25.3817C4.00583 22.0183 3.54657 19.3978 3.74918 16.9259C3.88426 15.3455 4.4921 14.0352 5.61324 12.9141L10.2193 8.30801C10.8812 7.68666 11.5836 7.34897 12.2725 7.34897C13.1235 7.34897 13.8124 7.86226 14.2446 8.2945C14.2581 8.30801 14.2716 8.32152 14.2851 8.33502C15.1091 9.10496 15.8926 9.90191 16.7165 10.7529C17.1353 11.1851 17.5675 11.6174 17.9997 12.0631L21.6873 15.7507C23.1191 17.1825 23.1191 18.5063 21.6873 19.9381C21.2956 20.3298 20.9174 20.7215 20.5257 21.0997C19.391 22.2614 18.3104 23.342 17.1353 24.3956C17.1082 24.4226 17.0812 24.4361 17.0677 24.4631C15.9061 25.6248 16.1222 26.7594 16.3653 27.5294C16.3788 27.5699 16.3923 27.6104 16.4058 27.6509C17.3649 29.9743 18.7156 32.1625 20.7688 34.7695L20.7823 34.783C24.5104 39.3756 28.4411 42.9551 32.7771 45.6971C33.3309 46.0483 33.8982 46.332 34.4385 46.6022C34.9248 46.8453 35.3841 47.0749 35.7758 47.3181C35.8298 47.3451 35.8839 47.3856 35.9379 47.4126C36.3971 47.6423 36.8294 47.7503 37.2751 47.7503C38.3963 47.7503 39.0987 47.0479 39.3283 46.8183L43.9479 42.1987C44.4072 41.7394 45.1366 41.1856 45.9876 41.1856C46.825 41.1856 47.5139 41.7124 47.9327 42.1717C47.9462 42.1852 47.9462 42.1852 47.9597 42.1987L55.4024 49.6414C56.7937 51.0192 56.7937 52.4375 55.4159 53.8693Z' fill='white'/%3E%3Cpath d='M34.5871 15.2239C38.1261 15.8182 41.3409 17.4932 43.9074 20.0596C46.4738 22.6261 48.1353 25.8409 48.7431 29.3799C48.8917 30.2714 49.6616 30.8927 50.5396 30.8927C50.6477 30.8927 50.7423 30.8792 50.8503 30.8657C51.8499 30.7036 52.5118 29.7581 52.3497 28.7585C51.6203 24.4766 49.5941 20.5729 46.5009 17.4797C43.4076 14.3864 39.5039 12.3603 35.222 11.6309C34.2224 11.4688 33.2904 12.1306 33.1148 13.1167C32.9392 14.1028 33.5876 15.0618 34.5871 15.2239Z' fill='white'/%3E%3Cpath d='M63.9257 28.2318C62.7235 21.1808 59.4007 14.7646 54.2948 9.65875C49.1889 4.55286 42.7728 1.22998 35.7218 0.0278007C34.7357 -0.147799 33.8037 0.527583 33.6281 1.51364C33.466 2.51321 34.1279 3.44523 35.1274 3.62083C41.422 4.68794 47.1627 7.67312 51.7283 12.2252C56.2939 16.7908 59.2656 22.5315 60.3327 28.8261C60.4813 29.7176 61.2512 30.3389 62.1292 30.3389C62.2373 30.3389 62.3318 30.3254 62.4399 30.3119C63.4259 30.1633 64.1013 29.2178 63.9257 28.2318Z' fill='white'/%3E%3C/svg%3E ");
  }

  &--implementation::before {
    width: 54px;
    height: 64px;
    background-image: url("data:image/svg+xml,%3Csvg width='54' height='64' viewBox='0 0 54 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53.3819 11.3743V7.62425H23.9194V0H7.98699V7.62425H0.618118V11.3743H3.91324V60.25H0.618118V64H53.3817V60.25H50.0866V11.3743H53.3819ZM11.737 3.75H20.1694V7.62425H11.737V3.75ZM46.3366 48.0859H7.66337V23.5386H46.3367V48.0859H46.3366ZM7.66337 60.25V51.8359H46.3367V60.25H7.66337ZM46.3366 19.7886H7.66337V11.3743H46.3367V19.7886H46.3366Z' fill='white'/%3E%3Cpath d='M27 43.7956C30.6031 43.7956 33.5345 40.8642 33.5345 37.2611C33.5345 33.1817 28.7731 28.9238 28.2302 28.4516L27 27.3818L25.7696 28.4517C25.2267 28.9238 20.4654 33.1818 20.4654 37.2612C20.4655 40.8642 23.3969 43.7956 27 43.7956ZM26.9952 32.487C27.272 32.7831 27.5736 33.1231 27.8757 33.4942C29.0889 34.9842 29.7846 36.3571 29.7846 37.2612C29.7846 38.7966 28.5355 40.0457 27.0001 40.0457C25.4647 40.0457 24.2156 38.7966 24.2156 37.2612C24.2155 35.9522 25.5982 33.9881 26.9952 32.487Z' fill='white'/%3E%3C/svg%3E ");
  }

  // Стрелочка плохо экспортируется из Фигмы
  /* &--arrow::after {
    content: "";
    width: 60px;
    height: 16px;
    display: block;
    position: absolute;
    top: 58px;
    right: 32px;
    background-image: url('../../img/order/order-arrow-icon.svg');
    background-repeat: no-repeat;
  } */
}

.order__item-title {
  margin: 0;
  margin-bottom: 24px;
  @include fontSizeHeightWeight(21px, 25.6px, 500)
}

.order__item-text {
  margin: 0;
  @include fontSizeHeightWeight(16px, 22.4px);

  &--sub {
    margin-bottom: 20px;
  }
}

.order__item-subtext {
  @include fontSizeHeightWeight(12px, 16.8px);
}

.order__item-duration {
  margin: 0;
  margin-bottom: 76px;
  @include fontSizeHeightWeight(15px, 18.29px, 600);
  order: -1;
  align-self: flex-end;
}
