.page-main__page-title {
  margin: 0 auto;
  margin-bottom: 48px;
}

.page-main__fast-order {
  margin: 0 auto;
  margin-bottom: 100px;
}

.page-main__price-list {
  margin: 0 auto;
  margin-bottom: 100px;
}

.page-main__delivery {
  margin-bottom: 100px;
}

.page-main__order {
  margin: 0 auto;
  margin-bottom: 100px;
}

.page-main__certificates {
  margin: 0 auto;
  margin-bottom: 100px;
}
