.page {
  height: 100%;
  font-family: 'Montserrat';
  @include fontSizeHeightWeight(14px, 17.07px);
}

.page__body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__header {
  margin-bottom: 90px;
}
